Zerofox = {
  'proxies':{
      'http': '',
      'https': ''
  },
    'url':'',
    'key':'',
    'verify':True
}

TheHive = {
    'proxies':{
      'http': '',
      'https': ''
    },
    'url':'',
    'key':'',
    'template': ''
}
